In [1]:
import pandas as pd
import numpy as np
import statistics

In [2]:
model1 = pd.read_csv("submission_xgboost.csv")
model2 = pd.read_csv("submission_lgbm.csv")

model2.head()

   TransactionID   isFraud
0        3663549  0.001748
1        3663550  0.002767
2        3663551  0.009586
3        3663552  0.008910
4        3663553  0.004171

In [3]:
model1_col = model1['isFraud'].to_numpy()
model2_col = model2['isFraud'].to_numpy()

In [4]:
final = np.array([])

In [17]:
ensemble = (model1_col*4.5) + (model2_col*1.6)
ensemble

array([0.00282445, 0.00442746, 0.0149251 , ..., 0.01459512, 0.01426164,
       0.00870538])

In [18]:
sub = pd.DataFrame({
    'TransactionID' : model1['TransactionID'].values,
    'isFraud' : ensemble
})
sub.head()

   TransactionID   isFraud
0        3663549  0.002824
1        3663550  0.004427
2        3663551  0.014925
3        3663552  0.014042
4        3663553  0.006285

In [7]:
sub.to_csv('Ensemble.csv', index = False)