In [1]:
import pandas as pd
import numpy as np

In [2]:
model1 = pd.read_csv("submission_xgboost.csv")
model2 = pd.read_csv("submission_lgbm.csv")

model2.head()

   TransactionID   isFraud
0        3663549  0.001748
1        3663550  0.002767
2        3663551  0.009586
3        3663552  0.008910
4        3663553  0.004171

In [3]:
model1_col = model1['isFraud'].to_numpy()
model2_col = model2['isFraud'].to_numpy()

In [4]:
ensemble = model1_col*5.5 + model2_col
ensemble

array([0.00199971, 0.00311159, 0.01026524, ..., 0.01079859, 0.01018043,
       0.00597263])

In [5]:
sub = pd.DataFrame({
    'TransactionID' : model1['TransactionID'].values,
    'isFraud' : ensemble
})
sub.head()

   TransactionID   isFraud
0        3663549  0.002000
1        3663550  0.003112
2        3663551  0.010265
3        3663552  0.009752
4        3663553  0.004206

In [6]:
sub.to_csv('Ensemble.csv', index = False)